body {
    text-align: center;
  }
  
  h1 {
    font-size: 5vh;
  }
  
  h2 {
    font-size: 4vh;
  }
  
  h3 {
    font-size: 3vh;
  }
  
  h4 {
    font-size: 2vh;
  }
  
  h5 {
    font-size: 1vh;
  }
  
  #game-header {
    margin: 5vh 0vh 5vh 0vh;
  }
  
  #games {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #gamescreen {
    width: 50vh;
    height: 50vh;
  }
  
